OLD_DISPENSARY_DATABASE_URL="XXXXXXX/dispensaire"
AUTH_DATABASE_URL="XXXXXXX/lawless_auth"
DISPENSARY_DATABASE_URL="XXXXXXX/lawless_dispensary"
AGENDA_DATABASE_URL="XXXXXXX/lawless_agenda"
BANK_DATABASE_URL="XXXXXXX/lawless_bank"
