DATABASE_URL="postgresql://user:password@localhost:XXXX/lawless_auth"
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001
NEXT_PUBLIC_AUTH_URL=http://localhost:3001
DISPENSARY_URL=http://localhost:3000
NEXT_PUBLIC_DISPENSARY_URL=http://localhost:3000
AUTH_COOKIE_DOMAIN=localhost

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

ACCESS_ON_CREATE=

AUTH_INTERNAL_SECRET=
